[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "==1.9.1"
matplotlib = "==3.5.3"
numpy = "==1.23.2"
cycler = "==0.11.0"
fonttools = "==4.37.1"
kiwisolver = "==1.4.4"
pillow = "==9.2.0"
pyparsing = "==3.0.9"
python-dateutil = "==2.8.2"
six = "==1.16.0"

[dev-packages]
pylint = "==2.15.0"
cycler = "==0.11.0"
fonttools = "==4.37.1"
kiwisolver = "==1.4.4"
matplotlib = "==3.5.3"
numpy = "==1.23.2"
pillow = "==9.2.0"
pyparsing = "==3.0.9"
python-dateutil = "==2.8.2"
scipy = "==1.9.1"
six = "==1.16.0"
astroid = "==2.12.4"
colorama = "==0.4.5"
dill = "==0.3.5.1"
isort = "==5.10.1"
lazy-object-proxy = "==1.7.1"
mccabe = "==0.7.0"
platformdirs = "==2.5.2"
tomli = "==2.0.1"
tomlkit = "==0.11.4"
wrapt = "==1.14.1"

[requires]
python_version = "3.10"
